name: Branch Protection

on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Validate branch origin
        run: |
          if [[ "${{ github.base_ref }}" == "develop" && "${{ github.head_ref }}" != feature/* ]]; then
            echo "ERROR: Only 'feature/*' branches can be merged into 'develop'."
            exit 1
          elif [[ "${{ github.base_ref }}" == "master" && "${{ github.head_ref }}" != "develop" ]]; then
            echo "ERROR: Only 'develop' branch can be merged into 'master'."
            exit 1
          fi
